body {
	background-color: PeachPuff;
}
	
h2 {
	text-align: left;
}

.notice {
	display: none;
}

.carousel-caption {
	top: 0%;
}

.carousel-caption h2, h3, ul, p {
	text-align: left;
	color: Black;
}

.row {
	justify-content: space-between;
}

.grid {
	/* Red border used to see Bootstrap grid system, commented out once layout is satisfactory */
	/* border: 2px solid Red !important; */
	text-align: center;
	justify-content: space-between;
}

.carousel {
	height: 800px;
}

.carousel-inner {
	border: 1px solid MediumAquaMarine;
	height: 800px;
}

.coverletter {
	border: 1px solid MediumAquaMarine;
	height: 800px;
}

.carousel-control-next-icon {
	background-color: Black !important;
}

.carousel-control-prev-icon {
	background-color: Black !important;
}

.carousel-indicators button {
	background-color: Black !important;
}

.carousel-item img {
	/* height: 100% !important; */
	/* min-height: 100% !important; */
	min-width: 200%;
	filter: blur(2px);
}

.thin-border {
	border: 1px solid MediumAquaMarine;
}

.align-right {
	text-align: right;
}

.align-right h2 {
	text-align: right;
}

#row1 {
	height: 200px;
	justify-content: space-between;
	background-color: LightSalmon;
}

#row2 {
	height: 900px;
	background-color: LemonChiffon;
}

#fade1 {
	opacity: 0.1;
}

#fade2 {
	opacity: 0.1;
}

#fade3 {
	opacity: 0.1;
}

@media (max-width: 1399px) {
	#row2 {
		height: 1000px;
	}
	
	.carousel {
		height: 900px;
	}

	.carousel-inner {
		height: 900px;
	}
	
	.coverletter {
		height: 900px;
	}
}

@media (max-width: 1199px) {
	#row2 {
		height: 1100px;
	}
	
	.carousel {
		height: 1000px;
	}

	.carousel-inner {
		height: 1000px;
	}
	
	.coverletter {
		height: 1000px;
	}
}

@media (max-width: 991px) {
	.container {
		display: none;
	}
	
	.notice {
		display: block !important;
		text-align: center !important;
	}
	
	.notice h2, p {
		text-align: center !important;
	}
}